/* Dashboard Widget Styles */
#ctdl h4 {
	margin-top: 15px;
	clear: both;
}

#ctdl .todo-item {
	margin-left: 20px;
	margin-bottom: 1em;
}

#ctdl .todo-item p {
	margin: 0 0 0.2em 0;
}

#ctdl input[type="checkbox"] {
	margin-top:    0.1em;
}

#ctdl .todo-list {
	clear: both;
	margin: 8px 0;
}

#ctdl .add-todo {
	clear: both;
	text-align: right;
}

#ctdl .ctdl-categories, #ctdl .ctdl-categories-label {
	float: left;
}

#ctdl .ctdl-categories {
	margin-top: 0;
	margin-left: 5px;
}

#ctdl .description {
	clear: both;
}

#ctdl input {
	float: left;
	margin-right: 5px;
}

/* */

.todo-important, .widefat .todo-important td, .widefat .todo-important td p {
	color: #CC0033;
}

.todo-low, .widefat .todo-low td, .widefat .todo-low td p {
	color: #666666;
}

.toplevel_page_cleverness-to-do-list p.error, .to-do-list_page_cleverness-to-do-list-cats p.error {
	margin: 5px 0 15px;
	background-color: #FFEBE8;
    border: 1px solid #CC0000;
	border-radius: 3px;
	padding: 5px;
}

.todo-table th {
	min-width: 90px;
}

#todo-list th#checkbox-col, #todo-list-completed  th#checkbox-col {
	width: 15px;
	min-width: 15px;
}

#todo-cats th#id-col, #todo-list th#id-col, #todo-list-completed th#id-col {
	width: 2%;
	min-width: 30px;
}

#todo-cats th#vis-col {
	width: 15%;
}

#todo-cats th#action-col, #todo-list th#action-col, #todo-list-completed th#action-col {
	width: 8%;
	min-width: 120px;
}

#cleverness_todo_priority, #cleverness_todo_deadline, #cat, #cleverness_todo_planner {
	width: 220px;
}

#cleverness_todo_deadline {
	position: relative;
	z-index: 1000;
}

#cleverness_todo_progress {
	width: 30px;
	margin-left: 5px;
	margin-right: 0;
	border: 0;
	text-align: right;
	padding: 0;
	background: transparent;
	box-shadow: 0 0;
}

#cleverness-todo-progress-slider {
	float: left;
	width: 170px;
	margin-top: 5px;
	border-radius: 0;
}

table#todo-list thead tr .tablesorter-header {
	cursor: pointer;
}

table#todo-list thead tr .tablesorter-header:hover {
	background: url('images/bg.gif') no-repeat center right;
}

table#todo-list thead tr .tablesorter-headerAsc {
	background: url('images/asc.gif') no-repeat center right;
}

table#todo-list thead tr .tablesorter-headerDesc {
	background: url('images/desc.gif') no-repeat center right;
}

table#todo-list thead tr .sorter-false {
	background-image: url('');
}

.toplevel_page_cleverness-to-do-list #ui-datepicker-div {
	display: none;
}

#todo-list-completed th {
	cursor: pointer;
}

#todo-list-completed #checkbox-col .icon {
	background: url('images/ui-icons_888888_256x240.png');
	display: block;
	height: 16px;
	width: 16px;
}

#todo-list-completed #checkbox-col .minus {
	background-position: -48px -128px;
}

#todo-list-completed #checkbox-col .plus {
	background-position: -16px -128px;
}

