.todo-important, .widefat .todo-important td {
	color: #CC0033;
	}
.todo-low, .widefat .todo-low td {
	color: #666666;
}
p.error {
	margin: 5px 0 15px;
	background-color: #FFEBE8;
    border-color: #CC0000;
	border-radius: 3px 3px 3px 3px;
    border-style: solid;
    border-width: 1px;
	padding: 5px;
}
#todo-cats th#id-col {
	width: 5%;
}
#todo-cats th#vis-col {
	width: 15%;
}
#todo-cats th#action-col {
	width: 18%;
}

.scroll-checkboxes {
	height: 55px;
	padding: 5px;
    overflow-y: scroll;
	overflow-x: hidden;
	width: 250px;
	border: 1px solid #ccc
}